body
{
	background-color: rgb(161, 222, 255);
}

a
{
	color: inherit;
	text-decoration: none;

	&:hover
	{
		color: inherit;
		text-decoration: none;
	}
}

#landingcontainer
{

	#landing
	{
		background-color: rgba(0, 0, 0, .2);
		transition: box-shadow 1s .3s;

		#headertext
		{
			font-size: 2.5rem;
		}

		.nav
		{
			a
			{
				font-size: .8rem;
				transition: background-color .3s;

				&:hover
				{
					background-color: rgba(255, 255, 255, .2);
				}
			}
		}
	}

	&::before
	{
		content: ' ';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url('/assets/shapes.png');
		background-size: 300px;
		mix-blend-mode: overlay;
		opacity: .2;
	}
}

@media (min-width: 768px) // tablets (md)
{
	#landingcontainer
	{
		#landing
		{
			h1
			{
				font-size: 3.5rem;
			}

			.nav
			{
				a
				{
					font-size: 1rem;
				}
			}
		}

		&::before
		{
			background-size: 500px;
		}
	}
}

@media (min-width: 1200px) // larger desktops (xl)
{
	#landingcontainer
	{
		#landing
		{
			h1
			{
				font-size: 3.5rem;
			}

			.nav
			{
				a
				{
					font-size: 1.1rem;
				}
			}
		}

		&::before
		{
			background-size: 600px;
		}
	}
}

@media (min-width: 1400px) // even larger desktops
{
	#landingcontainer
	{
		#landing
		{
			h1
			{
				font-size: 4.5rem;
			}

			.nav
			{
				a
				{
					font-size: 1.4rem;
				}
			}
		}

		&::before
		{
			background-size: 700px;
		}
	}
}

@media (min-width: 2000px) // even LARGER desktops
{
	#landingcontainer
	{
		#landing
		{
			h1
			{
				font-size: 5rem;
			}

			.nav
			{
				a
				{
					font-size: 1.3rem;
				}
			}
		}

		&::before
		{
			background-size: 900px;
		}
	}
}

@media (min-width: 3000px) // even LARGER desktops
{
	#landingcontainer
	{
		#landing
		{
			h1
			{
				font-size: 12rem;
			}

			.nav
			{
				a
				{
					font-size: 3rem;
					margin-left: 4rem !important;
					margin-right: 4rem !important;
				}
			}
		}
	}

	&::before
	{
		background-size: 1500px;
	}
}
