$transitionTime: 1s;

:root
{
	--transitionTime: '#{$transitionTime}';
	--bgcolor: #FFC4C1;
	--bgcolor2: #a1deff;
}

body
{
	background-color: var(--bgcolor);
}

a
{
	color: inherit;
	text-decoration: none;

	&:hover
	{
		color: inherit;
		text-decoration: none;
	}
}

#landing-container
{
	#landing
	{
		background-color: rgba(0, 0, 0, .2);
		height: 250px;
		transition: box-shadow $transitionTime .3s;

		#headertext
		{
			h1
			{
				font-size: 2.5rem;
			}
		}

		.nav
		{
			a
			{
				font-size: .8rem;
				transition: background-color $transitionTime / 4;

				&:hover
				{
					background-color: rgba(255, 255, 255, .2);
				}
			}
		}

		#content-box
		{
			max-height: 100%;
			transition: max-height $transitionTime;

			#home
			{
				display: flex;
			}

			#contact
			{
				display: none;
			}
		}
	}

	&::before
	{
		content: ' ';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url('/assets/shapes.png');
		background-size: 300px;
		mix-blend-mode: overlay;
		opacity: .2;
	}
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px)
{
	#landing-container
	{

		#landing
		{
			height: 270px;

			#headertext
			{
				h1
				{
					font-size: 3rem;
				}
			}

			.nav
			{
				a
				{
					font-size: .9rem;
				}
			}
		}

		&::before
		{
			background-size: 350px;
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)
{
	#landing-container
	{

		#landing
		{
			height: 400px;

			#headertext
			{
				h1
				{
					font-size: 4rem;
				}
			}

			.nav
			{
				a
				{
					font-size: 1.4rem;
				}
			}
		}

		&::before
		{
			background-size: 500px;
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px)
{
	#landing-container
	{

		#landing
		{
			height: 350px;

			#headertext
			{
				h1
				{
					font-size: 4rem;
				}
			}

			.nav
			{
				a
				{
					font-size: 1.1rem;
				}
			}
		}

		&::before
		{
			background-size: 650px;
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)
{
	#landing-container
	{

		#landing
		{
			height: 440px;

			#headertext
			{
				h1
				{
					font-size: 5rem;
				}
			}

			.nav
			{
				a
				{
					font-size: 1.5rem;
				}
			}
		}

		&::before
		{
			background-size: 700px;
		}
	}
}
