$bg-color: #EBE9EA;
$text-color: black;
$text-color-lighter: #8D8D8D;

$font: "Nunito Sans", sans-serif;
$font-light-weight: 200;
$font-regular-weight: 400;
$font-bold-weight: 700;

$border-radius: 20px;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: $bg-color;
    color: $text-color;
    font-family: $font;
}

a
{
    color: inherit;
    text-decoration: none;
}

a, button
{
    color: $text-color;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: $font-light-weight;
    border: 1px solid $text-color;
    border-radius: $border-radius;
    letter-spacing: 1px;
}

a:hover, button:hover
{
    border-bottom: 2px solid $text-color !important;
    cursor: pointer;
}

.page
{
    width: 100vw;
    margin-bottom: 50px;
    padding: 0 20px;
}

.bubble
{
    border: 1px solid $text-color-lighter;
    border-radius: $border-radius;
    margin-top: 15px;
    padding: 20px 20px;
}

h1
{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: $font-bold-weight;
    text-transform: uppercase;
}

h2
{
    font-size: 23px;
    font-weight: $font-regular-weight;
    letter-spacing: 1px;
    line-height: 29px;

    &:last-of-type
    {
        margin-bottom: 10px;
    }
}

h3
{
    font-size: 30px;
    font-weight: $font-light-weight;
    letter-spacing: 2px;
    text-align: center;
    padding: 40px 0 10px 0;
}

h4
{
    font-size: 20px;
    font-weight: $font-regular-weight;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

button
{
    background-color: transparent;
    font: inherit;
    font-weight: $font-light-weight;
    width: 100%;
}

p
{
    font-weight: $font-light-weight;
    font-size: 19px;
}

header
{
    background-color: $bg-color;
    border-radius: 0 0 $border-radius $border-radius;

    .bubble
    {
        margin-top: 0 !important;
        border-color: $text-color;

        nav
        {
            ul
            {
                display: flex;
                justify-content: center;

                li
                {
                    list-style: none;
                    margin: 0 5px;

                    a
                    {
                        padding: 6px 10px;
                    }
                }
            }
        }
    }
}

#about
{
    #introduction
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;

        #profile-picture
        {
            $pic-size: 175px;
            min-width: $pic-size;
            height: $pic-size;
            border-radius: 50%;
            background-image: url("/assets/ryan.jpg");
            background-size: cover;
            background-position: center;
            border: 1px solid $text-color;
        }
    }

    #description
    {
        h2:last-of-type
        {
            margin-bottom: 10px;
        }
    }

    #resume
    {
        & > div
        {
            display: flex;
            justify-content: center;

            button
            {
                margin: 15px 0 0 0;
            }
        }
    }
}

.project-links > a, #contact-links > a
{
    font-size: 30px;
    margin-right: 5px;
}

#portfolio
{
    .project
    {
        padding: 20px 20px;
        border: 1px solid $text-color-lighter;
        border-radius: $border-radius;
        margin-bottom: 10px;

        p
        {
            padding: 2px 0 5px 0;
        }
    }
}

#contact
{
    #contact-links
    {
        display: flex;
    }
}