// Ryan Stewart 10/14/20
$polaroidWidth: 250px;
$transitionTime: .5s;
$polaroidHeightProportion: 1.2;
$color2: ff6600;

body
{
	background-color: black;
	&::before
	{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url('/assets/shapes.png');
		background-size: 300px;
		filter: invert(1);
		mix-blend-mode: lighten;
		opacity: .14;
	}
}

a
{
	text-decoration: none;
	color: inherit;

	&:hover
	{
		text-decoration: none;
		color: inherit;
	}
}

.arrow
{
	$width: 50px;
	width: $width;
	height: $width;
	position: absolute;
	z-index: 2;

	&::before
	{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-image: url('/assets/arrow.svg');
		background-repeat: no-repeat;
		background-position: center center;
	}
}

#leftarrow
{
	&::before
	{
		transform: rotate(-90deg);
	}
}

#rightarrow
{
	&::before
	{
		transform: rotate(90deg);
	}
}


#polaroid-container
{
	left: calc(50% - (#{$polaroidWidth} / 2));
	transition: left $transitionTime;

	.polaroid
	{
		width: $polaroidWidth;
		height: $polaroidWidth * $polaroidHeightProportion;
		border-bottom: 7px solid #dbdbdb;
		padding: .65rem .65rem 0 .65rem;
		transform: scale(.9);
		transition: transform $transitionTime, box-shadow $transitionTime;

		.picture
		{
			height: 255px;
			position: relative;
			background-color: #dbdbdb;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			&:before
			{
				content: 'Click to View The Uncropped Version';
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: black;
				color: white;
				font-size: .7rem;
				opacity: 0;
				transition: opacity $transitionTime;
			}

			&:hover:before
			{
				opacity: .5;
			}
		}

		.label
		{
			h2
			{
				font-size: 1rem;
			}
		}
	}

	.active
	{
		box-shadow: 0 6px 10px rgba(0, 0, 0, .3);
		transform: scale(1) !important;
	}
}

@media (min-width: 768px) // tablets (md)
{
	.arrow
	{
		//change width/height
	}

	#polaroid-container
	{
		.polaroid
		{
			// set width/height

			.picture
			{
				// set height
			}

			.label
			{
				h2
				{
					// set font-size
				}
			}
		}
	}

	body
	{
		&::before
		{
			background-size: 500px;
		}
	}
}

@media (min-width: 1200px) // larger desktops (xl)
{
	.arrow
	{
		//change width/height
	}

	#polaroid-container
	{
		.polaroid
		{
			// set width/height

			.picture
			{
				// set height
			}

			.label
			{
				h2
				{
					// set font-size
				}
			}
		}
	}

	body
	{
		&::before
		{
			background-size: 600px;
		}
	}
}

@media (min-width: 1400px) // even larger desktops
{
	.arrow
	{
		//change width/height
	}

	#polaroid-container
	{
		.polaroid
		{
			// set width/height

			.picture
			{
				// set height
			}

			.label
			{
				h2
				{
					// set font-size
				}
			}
		}
	}

	body
	{
		&::before
		{
			background-size: 700px;
		}
	}
}

@media (min-width: 2000px) // even LARGER desktops
{
	.arrow
	{
		//change width/height
	}

	#polaroid-container
	{
		.polaroid
		{
			// set width/height

			.picture
			{
				// set height
			}

			.label
			{
				h2
				{
					// set font-size
				}
			}
		}
	}

	body
	{
		&::before
		{
			background-size: 900px;
		}
	}

}

@media (min-width: 3000px) // even LARGER desktops
{
	.arrow
	{
		//change width/height
	}

	#polaroid-container
	{
		.polaroid
		{
			// set width/height

			.picture
			{
				// set height
			}

			.label
			{
				h2
				{
					// set font-size
				}
			}
		}
	}

	body
	{
		&::before
		{
			background-size: 1500px;
		}
	}
}
