body
{
	background-color: pink;
}

a
{
	color: inherit;
	text-decoration: none;
	&:hover
	{
		color: inherit;
	}
}


#landingcontainer
{
	.point
	{
		position: absolute;
	}

	.line
	{
		height: 2px;
		width: 0;
		background-color: red;
		position: absolute;
		transform-origin: top left;
		transition: width .2s;
	}

	#landingbackground
	{
		background-image: url('/assets/shapes.png');
		background-size: 300px;
		mix-blend-mode: overlay;
		opacity: .2;
	}

	#landing
	{

		background-color: rgba(0, 0, 0, .2);
		padding: 1rem;
		color: white;
		transition: box-shadow 1s;

        #headertext:hover
        {
            text-decoration: none;
        }

		a
		{
			font-size: .8rem;
		}
	}
}

#scrollcontainer
{

	background-color: rgba(0, 0, 0, .2);
	padding: 1rem 0 1rem 0;
	transition: box-shadow 1s, margin-left .5s;

	.active
	{
		transform: scale(1.2);
	}

	a
	{
		transform: scale(.8);
	}

	.polaroid
	{
		transition: transform .2s;
	}
}
