# CORE
Options -Indexes
Options -MultiViews
Options +FollowSymlinks
AddDefaultCharset UTF-8
ServerSignature Off
FileETag none

# ADMIN EMAIL
SetEnv SERVER_ADMIN ryan@ryanstew.art

RewriteEngine On
RewriteRule   ^([A-Za-z0-9-]+)/?$  $1.html
