*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

body
{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

h1, h2, h3
{
    font-weight: 700;
}

h2
{
    font-size: 1.75rem;
    margin-bottom: 2rem;
    text-align: center;
}

p
{
    font-size: 1.2rem;
}

img
{
    width: 100%;
}

a
{
    color: inherit;
    font-size: 1rem;
}

.section
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2
    {
        text-align: center;
    }
}

#intro
{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: white;

    #screw-round
    {
        width: 200px;
        height: 200px;
        background-color: black;
        border-radius: 50%;
        transition: transform .25s ease-in-out;

        #plus
        {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .rectangle
            {
                width: 60%;
                height: 30px;
                background-color: white;
                position: absolute;

                &:last-child
                {
                    transform: rotateZ(90deg);
                }
            }
        }
    }
}

#first
{
    position: relative;

    #first-header
    {
        text-align: center;
    }

    #first-arrow
    {
        position: absolute;
        bottom: 2rem;
        width: 25px;
    }
}

#second
{
    #profile-picture
    {
        width: 150px;
        margin-bottom: 1rem;

        img
        {
            border-radius: 50%;
        }
    }

    p
    {
        width: 100%;
        padding: 0 3rem;
        margin: 7px 0;
    }
}

#third
{
    .project-row
    {
        width: 100%;
        display: flex;
        margin: 1rem 0;
        padding: 0 2rem;
    }

    .project-col
    {
        flex: 1;
        text-align: center;
        overflow: hidden;
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img
        {
            max-height: 200px;
        }
    }
}

#fourth
{
    h2
    {
        margin-bottom: 0;
    }

    p
    {
        text-align: center;
        padding: 0 3rem;
        margin: 1rem 0 2rem 0;
    }

    #links
    {
        a
        {
            display: block;
            text-align: center;
            margin: .5rem 0;
        }
    }
}

@media only screen and (min-width: 600px)
{
    #second
    {
        #profile-picture
        {
            display: none;
        }
    }

    #third
    {
        .project-col
        {
            img
            {
                max-width: 100px;
            }
        }
    }
}

@media only screen and (min-width: 768px)
{
    #second
    {
        #profile-picture
        {
            display: block;
            width: 250px;
        }

        p
        {
            max-width: 500px;
        }
    }

    #third
    {
        .project-col
        {
            img
            {
                max-width: 200px;
                max-height: 300px;
            }
        }
    }
}

@media only screen and (min-width: 1900px)
{
    h1
    {
        font-size: 5rem;
    }

    h2
    {
        font-size: 3rem;
    }

    p, a
    {
        font-size: 2rem;
    }

    #second
    {
        #profile-picture
        {
            width: 300px;
        }

        p
        {
            max-width: 750px;
            margin: 10px 0;
        }
    }

    #third
    {
        .project-col
        {
            img
            {
                max-width: 300px;
                max-height: 500px;
            }
        }
    }
}