$color1: white;
$color2: rgb(41, 62, 43);
$pathcolor: rgb(185, 159, 128);
$suncolor: rgb(250, 255, 163);
$animdur: .3s;

*
{
	box-sizing: border-box;
}

body
{
	background-color: $color1;
}

#box1
{
	transition: background-color $animdur;
	img
	{
		transition: opacity $animdur;
	}
	#sun
	{
		background-color: $suncolor;
		mask-image: radial-gradient(closest-side at center, black 50%, rgba(0, 0, 0, .2) 75%, rgba(255, 255, 255, 0) 100%);
		-webkit-mask-image: radial-gradient(closest-side at center, black 50%, rgba(0, 0, 0, .2) 75%, rgba(255, 255, 255, 0) 100%);
		transition: opacity $animdur;
	}
}

#box2
{
	transition: background-color $animdur, box-shadow $animdur;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .1);

	#overlay
	{
		background-image: url('/grass2.png');
		background-size: 45px auto;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		transition: opacity $animdur;
	}

	#path
	{
		transition: width $animdur, height $animdur;
		background-color: $pathcolor;
		mask: url('/trailmask.png') center;
		-webkit-mask: url('/trailmask.png') center;
		mask-size: 100% auto;
		-webkit-mask-size: 100% auto;
		-webkit-mask-repeat: repeat-y;
		mask-repeat: repeat-y;
	}

	.tree
	{
		img
		{
			//convert to dark green https://codepen.io/sosuke/pen/Pjoqqp
			filter: invert(19%) sepia(12%) saturate(1132%) hue-rotate(75deg) brightness(101%) contrast(93%);
			transition: transform $animdur;
		}
	}
}

.box
{
	background-color: $color1;
}

#bar
{
	background-color: $color2;
	transition: width $animdur 1s, top $animdur, height $animdur;
}
