$color1: white;
$color2: #2BA040;
$suncolor: rgb(250, 255, 163);
$animdur: .25s;
$longanimdur: .5s;
$unitwidth: 45px;

body
{
	background-color: $color1;
}

.box
{
	background-color: $color1;
}

#box1
{
	transition: background-color $animdur;
	#sun
	{
		background-color: $suncolor;
		mask-image: radial-gradient(closest-side at center, black 50%, rgba(0, 0, 0, .2) 75%, rgba(255, 255, 255, 0) 100%);
		-webkit-mask-image: radial-gradient(closest-side at center, black 50%, rgba(0, 0, 0, .2) 75%, rgba(255, 255, 255, 0) 100%);
		transition: opacity $longanimdur;
	}
}

#bar
{
	background-color: $color2;
	transition: width $animdur 1s, top $animdur, opacity $animdur;
}

#box2
{
	transition: background-color $animdur, box-shadow $animdur;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .1);
	#overlay
	{
		transition: opacity $longanimdur;
		background-image: url('/grass.png');
		background-size: $unitwidth auto;
		background-position: center center;
	}
	.row
	{
		.col
		{
			.tree
			{
				transition: height $animdur, filter $animdur;
				width: $unitwidth;
				.treetop
				{
					transition: background-size $animdur;
					background-image: url('/treetop.png');
					background-size: 100% 100%;
					background-position: center;
					background-repeat: no-repeat;
				}
				.treebottom
				{
					transition: background-size $animdur;
					background-image: url('/treebottom.png');
					background-size: 100% 100%;
					background-position: center;
					background-repeat: no-repeat;
				}
			}
			#fence-container
			{
				margin-top: 4.5rem;
				width: $unitwidth;
				height: $unitwidth;
				#fence
				{
					transition: height $animdur, filter $animdur;
					background-image: url('/fence.png');
					background-size: 100% 100%;
					background-position: center;
				}
			}
			#path
			{
				transition: width $animdur, height $animdur;
				background-image: url('/dirt.png');
				background-size: $unitwidth auto;
				background-position: center;
				mask: url('/trailmask.png') center;
				-webkit-mask: url('/trailmask.png') center;
				mask-size: 100% auto;
				-webkit-mask-size: 100% auto;
				-webkit-mask-repeat: repeat-y;
				mask-repeat: repeat-y;
			}
		}
	}
}
