*, html
{
	margin: 0;
	padding: 0;
}

a:any-link
{
	text-decoration: none; 
	color: inherit;
}

body
{
	background-color: #5CDB94;
}

header
{
	text-transform: uppercase;
	color: #1A535C;
	font-family: 'Roboto Condensed', sans-serif;
	display: flex;
	flex-flow: row nowrap;
}

header > h2
{
	font-size: 50px;
	padding: 80px 94px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#subtext
{
	font-size: 18px;
	margin: 0px 5px;
}

nav
{
	margin-left: auto;
	align-self: center;
	padding: 80px 94px;
	font-family: 'Roboto', sans-serif;
	white-space: nowrap;
}

nav > ul > li
{
	display: inline;
	padding: 0 10px;
}

nav > ul > li > a:hover
{
	text-decoration: underline;
}

section
{
	display: flex;
}




