*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body
{
	height: 100%;
}

body
{
	/* background-color: #7aa4ff; */
	background-color: red;
	overflow: hidden;
}

canvas
{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#line-container
{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transform: scale(1.5) rotate(90deg);
	overflow: hidden;
}

.line
{
	background-color: blue;
	width: 1px;
	height: 150%;
}
