<!DOCTYPE html>
<html land='en'>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='../portfolio.css' />
	<link rel='icon' type='image/png' href='../favicon.ico' />
    <title>ryanstew.art</title>
</head>
<body>

	<% if (json) { %>
		<script>
			let json = <%- JSON.stringify(json) %>;
			let accessKey = json.ACCESS_KEY;
		</script>
	<% } %>

	<div class='text-container'>
		<a href='/'>Home.</a>
	</div>

	<div class='image-container'>
        <img src='/art/dog.jpg' alt='dog' />
    </div>

    <div class='image-container'>
        <img src='/art/eyes.jpg' alt='eyes' />
    </div>

    <div class='image-container'>
        <img src='/art/sphere.jpg' alt='sphere' />
    </div>

    <div class='image-container'>
        <img src='/art/wedge.png' alt='wedge' />
    </div>

    <div class='text-container'>
        <a href='https://unsplash.com/@rynstwrt' target='_blank'><h1>Via Unsplash</h1></a>
    </div>

    <script src='../portfolio.js'></script>

</body>
</html>
