<!DOCTYPE html>
<html land='en'>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='projects.css' />
	<link rel='icon' type='image/png' href='favicon.ico' />
    <title>ryanstew.art</title>
</head>
<body>
    <div id='content'>
        <a href='/' id='homebutton'><h1>Ryan Stewart</h1></a>
        <div id='links'>
			<a href='https://rynstwrt.github.io/landscape-html-animation/' target='_blank'>Landscape Animation</a>
			<a href='https://rynstwrt.github.io/ChordProgressionGenerator/' target='_blank'>Chord Progression Generator</a>
            <a href='https://rynstwrt.github.io/flat-bouncing-avatar-website/' target='_blank'>Floating Avatar Website</a>
        </div>
    </div>
    <script src='three.js'></script>
    <script src='projects.js'></script>
</body>
</html>
