*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

body
{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url('landing.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul
{
    display: flex;
    align-items: center;
    padding: 5% 0;

    li
    {
        list-style: none;
        margin: 0 .5rem;

        a
        {
            color: white;
            text-decoration: none;
            $spacing: .5rem;
            text-indent: $spacing;
            letter-spacing: $spacing;
            font-size: 1rem;
        }
    }
}

h1
{
    font-size: 3rem;
    text-align: center;
    letter-spacing: .75rem;
}
