$color1: #1C1C1C;

@keyframes blink
{
    100% { opacity: 0; }
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

body
{
    background-color: $color1;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
}

h1
{
    font-size: 1.5rem;
    white-space: pre-line;
    position: relative;
}

#cursor
{
    background-color: orange;
    width: 1px;
    height: 30px;
    margin-left: 5px;
    position: absolute;
    animation: blink .5s infinite alternate;
}
