@import 'colors';

$blockSize: 58px;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

body
{
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background-image: url('../assets/backgroundColorGrass.png');
    background-size: cover;
    background-position: center;
}

#char
{
    width: $blockSize;
    height: $blockSize;
    position: relative;
    bottom: 0;

    background-image: url('../assets/char.png');
    background-size: cover;
    transform-origin: bottom;

    $timeAndFunction: .13s ease-in-out;
    transition: bottom $timeAndFunction, transform $timeAndFunction;
}

#cloud
{
    position: absolute;
    width: 40%;
    height: 20%;
    top: 5%;
    right: 5%;

    background-image: url('../assets/cloud.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#ground
{
    $height: 30%;

    width: 100%;
    height: $height;
    background-image: url('../assets/dirt.png');
    background-size: $blockSize;

    #firstrow
    {
        height: $height;
        background-image: url('../assets/grass.png');
        background-size: $blockSize;
    }

    h1
    {
        color: $color2;
        font-size: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: .15rem;
        width: 60%;
        padding: 2.5%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
